[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pyarrow = "*"
pandas = "*"
requests = "*"
boto3 = "*"
xgboost = "*"
hyperopt = "*"
mlflow = "*"
s3fs = "*"
prefect = "==2.2"

[dev-packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pytest = "*"
deepdiff = "*"
pylint = "==2.14.4"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
